In [8]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd
import numpy as np

# **For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!** 

# You will receive credit for the Python code you will provide, you may also need to include some description for your answer particularly if you can't generate the correct outcome using the python code

### Assignment 4.1
#### (a) Create two variables called A1 and A2 in Python and assign them values of 5 and 9.
#### (b) Create variable C which holds the value of A1 divided by A2 and variable D that holds their multiplication.

#### Hint: You can do this using basic Python functionality without operations from Pandas

## (a)

In [1]:
A1=5
A2=9
print(A1,A2)

5 9

## (b)

In [3]:
C=A1/A2
D=A1*A2
print(C,D)

0.5555555555555556 45

### You will work on the following dataframe for the rest of assignments
#### This dataset contains a subset of the fuel economy data that the EPA makes available on http://fueleconomy.gov. It contains only car models which had a new release every year between 1999 and 2008 - this was used as a proxy for the popularity of the car.:

manufacturer: manufacturer name; 

model: model name; 

displ: engine size in litres; 

year: year of manufacture; 

cyl: number of cylinders; 

trans: type of transmission; 

drv: the type of drive train where f = front-wheel drive, r = rear wheel drive, 4 = 4wd; 

cty: city miles per gallon; 

hwy: highway miles per gallon; 

fl:fuel type; 

class: "type" of car e.g. compact etc

In [22]:
df=pd.read_csv('https://www.dropbox.com/s/rx9ondhbqvd9zcm/mpg.csv?dl=1')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

### Assignment 4.2
#### (a) Provide the list of column names, and number of rows in the dataframe
#### (b) Extract the columns "manufacturer", "model", and "year" (the outcome should have three columns not seperated single columns)
#### (c) Extract rows number 10, 20, 30, 35
#### (d) Extract columns "manufacturer", "year" and "class" for rows 100 and 200
#### (e) Provide the list of unique manufacturer (you need to remove duplicated manufacturers), Hint: you can consult pandas document: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html

## (a)

In [63]:
df.columns,df.shape

(Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
        'hwy', 'fl', 'class', 'MilePerGallon', 'hwy/displ'],
       dtype='object'),
 (234, 13))

## (b)

In [14]:
df[['manufacturer', 'model', 'year']]

    manufacturer   model  year
0           audi      a4  1999
1           audi      a4  1999
2           audi      a4  2008
3           audi      a4  2008
4           audi      a4  1999
..           ...     ...   ...
229   volkswagen  passat  2008
230   volkswagen  passat  2008
231   volkswagen  passat  1999
232   volkswagen  passat  1999
233   volkswagen  passat  2008

[234 rows x 3 columns]

## (c)

In [15]:
df.iloc[[10, 20, 30, 35]]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv
35,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize

## (d)

In [16]:
df[["manufacturer", "year" ,"class"]].iloc[[100,200]]

    manufacturer  year       class
100        honda  1999  subcompact
200       toyota  1999      pickup

## (e)

In [17]:
df['manufacturer'].unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

### Assignment 4.3
#### (a) Find the maximum size of engine
#### (b) Find the minimum mile per gallon in city across all cars
#### (c) Find the average mile per gallon on highway across all cars
#### (d) Create a new column in dataframe to normalize the mile per gallon on highway. You need to multiply mile per gallon on highway by engine size

## (a)

In [18]:
df['displ'].max()

7.0

## (b)

In [19]:
df['cty'].min()

9

## (c)

In [20]:
df['hwy'].mean()

23.44017094017094

# (d)

In [65]:
df['Normalizedhwy']=df['hwy']*df['displ']
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,MilePerGallon,hwy/displ,Normalizedhwy
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,16.111111,16.111111,52.2
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,16.111111,16.111111,52.2
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,15.500000,15.500000,62.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,15.000000,15.000000,60.0
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,9.285714,9.285714,72.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,14.000000,14.000000,56.0
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,14.500000,14.500000,58.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,9.285714,9.285714,72.8
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,9.285714,9.285714,72.8
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,7.222222,7.222222,93.6

### Assignment 4.4
#### (a) Find cars that have either 4 or 9 cylinders 
#### (b) Find cars that have engine size between 4 and 5 (inclusive, you need to include 4 and 5)
#### (c) Find all suv cars manufactured by chevrolet except in 2008
#### (d) What is average mile per gallon on highway for all models of toyota 4runner manufactured in 1999?

## (a)

In [69]:
CylindersFilter=(df['cyl']==4) | (df['cyl']==9)
df[CylindersFilter]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,MilePerGallon,hwy/displ,Normalizedhwy
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,16.111111,16.111111,52.2
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,16.111111,16.111111,52.2
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,15.500000,15.500000,62.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,15.000000,15.000000,60.0
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,14.444444,14.444444,46.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,13.000000,13.000000,52.0
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,16.111111,16.111111,52.2
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,16.111111,16.111111,52.2
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,14.000000,14.000000,56.0
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,14.500000,14.500000,58.0

## (b)

In [34]:
EngineFilter=(df['displ']>=4)&(df['displ']<=5)
df[EngineFilter]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,MilePerGallon,hwy/displ
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,5.476190,5.476190
47,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,5.750000,5.750000
52,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,4.042553,4.042553
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,4.042553,4.042553
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,2.553191,2.553191
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,3.617021,3.617021
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,2.553191,2.553191
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,3.617021,3.617021
64,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,3.404255,3.404255
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,2.553191,2.553191
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,3.617021,3.617021
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,3.617021,3.617021
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,3.404255,3.404255
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,2.553191,2.553191
74,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,3.695652,3.695652
77,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,4.250000,4.250000
78,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,4.750000,4.750000
79,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,4.250000,4.250000
80,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,4.750000,4.750000
81,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,4.130435,4.130435
82,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,3.400000,3.400000
83,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,4.047619,4.047619
84,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,4.047619,4.047619
85,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,3.478261,3.478261
86,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3.478261,3.478261
87,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,3.695652,3.695652
92,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,6.500000,6.500000
93,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,6.000000,6.000000
94,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,4.565217,4.565217
95,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,4.782609,4.782609
96,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,5.000000,5.000000
97,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,4.782609,4.782609
124,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5.000000,5.000000
125,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3.617021,3.617021
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,2.553191,2.553191
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,4.042553,4.042553
130,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,3.750000,3.750000
131,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,4.285714,4.285714
132,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,4.090909,4.090909
133,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,3.260870,3.260870
137,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,4.250000,4.250000
138,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,4.750000,4.750000
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,4.130435,4.130435
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,3.400000,3.400000
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,5.000000,5.000000
177,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,5.000000,5.000000
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3.617021,3.617021
198,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,3.191489,3.191489
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,4.500000,4.500000
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,5.000000,5.000000

## (c)

In [71]:
CarFilter=((df['year']<2008) | (df['year']>2008))&(df['class']=='suv')&(df['manufacturer']=='chevrolet')
df[CarFilter]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,MilePerGallon,hwy/displ,Normalizedhwy
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,2.982456,2.982456,96.9
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,2.631579,2.631579,85.5
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,2.615385,2.615385,110.5

## (d)

In [60]:
CarFilter2 = (df['manufacturer']=='toyota') & (df['model'].str.contains('4runner')) & (df['year']==1999)
df[CarFilter2]['hwy'].mean()

19.0